$primary-color: #1976d2;
$secondery-color: #ececec;
$accent-color: #e0e0e0;
$primary-text-color: #4a4a4a;
$secondery-text-color: #fff;
$faded-text-color: #f0f0f0;
$shadow-color: rgba(173, 173, 173, 0.3);
$border-color: $accent-color;
$highlight-color: #3599fd;
$disabled-button-color: $accent-color;
$alternate-shadow-color: rgb(155, 155, 155);