@import './assets/css/variables.scss';
@import "~bootstrap/scss/bootstrap";
html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $secondery-color;
    input{
        outline: none;
    }
}